<div class="container">
  <div class="container-fluid">
    <div class="blogbox" *ngIf="currentBlog">
      <h1>
        <span class="badge badge-primary">{{ currentBlog.title }}</span>
      </h1>
      <h5 class="badge">By {{ currentBlog.author }}</h5>
      <h6 *ngIf="currentBlog.tags != undefined && currentBlog.tags.length > 0">
        #Tags:
        <span
          *ngFor="
            let tag of currentBlog.tags;
            let first = first;
            let last = last
          "
          >{{ tag }}{{ last ? "" : "," }}
        </span>
      </h6>
      <p class="blogbody">{{ currentBlog.description }}</p>
      <button class="btn btn-primary transparent">Edit</button>
      <button class="btn btn-danger ml-4">Delete</button>
      <a [routerLink]="['/home']"
        ><button class="btn btn-dark ml-5">Back</button></a
      >
      <div class="date">
        <span class="text-muted"
          >Last edited on {{ currentBlog.created | date }}</span
        >
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
